<h1>
    {{title}}
</h1>

<md-list>
    <md-list-item>
        analyse - conception
        <md-slider min="0" max="3" step="1" value="1"></md-slider>
    </md-list-item>

    <md-list-item>
        inconnu connu
        <md-slider min="0" max="5" step="1" value="1"></md-slider>
    </md-list-item>

    <md-list-item>
        implémentation mvp
        <md-slider min="1" max="10" step="1" value="10"></md-slider>
    </md-list-item>

    <md-list-item>
        tests unitaires
        <md-slider min="0" max="5" step="1" value="1"></md-slider>
    </md-list-item>

    <md-list-item>
        implémentation solide
        <md-slider min="0" max="10" step="1" value="1"></md-slider>
    </md-list-item>

    <md-list-item>
        risque imprévu
        <md-slider min="0" max="4" step="1" value="1"></md-slider>
    </md-list-item>

    <md-list-item>
        bonus: polishing
        <md-slider min="0" max="3" step="1" value="0"></md-slider>
    </md-list-item>
</md-list>